* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #676767;
}

.container {
    background: #fff;
    width: 80%;
    max-width: 1000px;
    margin: 50px auto;
    align-content: center;
    border-radius: 15px;
    padding: 20px;
}

.container h1 {
    text-align: center;
}

p {
    margin-top: 5px;
}

.timer,
.buttons-class {
    display: flex;
}

.timer {
    justify-content: center;
    font-size: 60px;
    transition: all 0.2s ease-in-out;
}

button {
    padding: 10px;
    margin: 0 5px;
    border: solid black 2px;
    width: 100%;
    transition: all 0.1s ease-in-out;
    background-color: #e5e5e5;
}

button:hover {
    background: #d8d4d4;
}

.paused {
    color: red;
}

.buttons-class {
    width: 100%;
    justify-content: center;
    margin: 20px 0 0 0;
}

@media (max-width: 320px) {
    .container {
        width: 70%;
    }

    .buttons-class {
        flex-flow: wrap row;
    }

    button {
        margin-top: 10px;
    }

    .timer {
        font-size: 45px;
    }
}

@media (max-width: 250px) {
    .timer {
        font-size: 40px;
    }
}

@media (max-width: 200px) {
    .timer {
        font-size: 35px;
    }
}
