* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(to left, #322478, #615a85);
}

#container {
    height: 500px;
    width: 80%;
    max-width: 1000px;
    margin: 50px auto;
    align-content: center;
    justify-content: center;
}

.timer-container {
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 15px;
    padding: 20px;
}

.timer-container h1 {
    text-align: center;
}

p {
    margin-top: 5px;
}

.timer,
.buttons-class {
    display: flex;
}

.timer {
    justify-content: center;
    font-size: 60px;
    transition: all 0.2s ease-in-out;
}

button {
    padding: 10px;
    margin: 0 5px;
    border-radius: 10px;
    border: solid transparent 1px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    transition: all 0.1s ease-in-out;
    background-color: #e5e5e5;
}

button:hover {
    background: #d4d4d4;
}

button:active {
    background: #a9a9a9;
}

button.pause:hover {
    background: rgb(255, 152, 152);
}

button.pause:active {
    background: rgb(255, 105, 105);
}

button.start:hover {
    background: rgb(159, 255, 142);
}

button.start:active {
    background: rgb(112, 255, 87);
}

.paused {
    color: red;
}

.buttons-class {
    width: 100%;
    justify-content: center;
    margin: 20px 0 0 0;
}

@media (max-width: 400px) {
    .container {
        width: 70%;
    }

    .buttons-class {
        flex-flow: wrap row;
    }

    button {
        margin-top: 10px;
    }

    .timer {
        font-size: 45px;
    }
}

@media (max-width: 260px) {
    .timer {
        font-size: 40px;
    }
}

@media (max-width: 240px) {
    .timer {
        font-size: 35px;
    }
}

@media (max-width: 240px) {
    .timer {
        font-size: 30px;
    }
}